[BUG] `request:get-data()` unable to handle chunked data

**Describe the bug**
`request:get-data()` returns an empty sequence if the `Content-Length` HTTP Header is missing. This is correct behaviour when the request is either, HTTP 1.0, or HTTP 1.1 when **not** using Chunked Transfer Encoding.

However, In HTTP 1.1 if you Chunked Transfer Encoding: chunked, there will never be a `Content-Length` header, and in this instance eXist-db incorrectly returns an empty sequence. It should instead return the body of the request.


**To Reproduce**
 store the `handle-request.xq` script in the db
 ```xquery
 xquery version "3.1";


let $data := request:get-data()

return
    <res>
        <Data value="{$data}"/>
        <headers value="{request:get-header-names()}"/>
        <Content-Type value="{request:get-header("Content-Type")}"/>
        <Content-Length value="{request:get-header("Content-Length")}"/>
        <Accept-Encoding value="{request:get-header("Accept-Encoding")}"/>
        <Host value="{request:get-header("Host")}"/>
        <User-Agent value="{request:get-header("User-Agent")}"/>
        <Connection value="{request:get-header("Connection")}"/>
        <Transfer-Encoding value="{request:get-header("Transfer-Encoding")}"/>
        <exists value="{request:exists()}"/>
        <method value="{request:get-method()}"/>
    </res>
   ```

Make a HTTP POST request to it using Postman, or the XQuery script below:
```xquery
xquery version "3.1";

import module namespace http="http://expath.org/ns/http-client";

let $data := <data>sample data</data>
let $url := 'http://localhost:8080/exist/rest/db/handle-request.xq' 
let $res := http:send-request(
                        <http:request href="{$url}" method="post">
                            <http:header name="Content-Type" value="application/xml"></http:header>
                            <http:body media-type="application/xml" method="xml">{$data}</http:body>
                        </http:request>)             
return $res[2]
```

If alternatively you use Postman, uncheck the `Content-Length` header and add `Transfer-Encoding` header and set it to be  `chunked`.

According to the spec, the implementation must _ignore_ the `Content-length` header when `Transfer-encoding` is set. So if this issue only shows when Content-length is not set, then it is also not being ignored.

> "Messages MUST NOT include both a Content-Length header field and a non-identity transfer-coding. If the message does include a non-identity transfer-coding, the Content-Length MUST be ignored." ([RFC 2616, Section 4.4](http://greenbytes.de/tech/webdav/rfc2616.html#rfc.section.4.4))

One possible workaround to this bug that I shared with @marmoure is that you can force the EXPath HTTP Client to do HTTP 1.0 instead of its default of HTTP 1.1. This can be done by setting the attribute `http-version="1.0` on the `http:request` element.

@line-o  ` Content-Length` is not being ignored 
check [get-data](https://github.com/eXist-db/exist/blob/82eacb1b40f5c865a671478ed8731a761ecda82a/exist-core/src/main/java/org/exist/xquery/functions/request/GetData.java#L81) implementation 